<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@Page.Title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.ico" />
    <link rel="stylesheet" href="~/css/easy-responsive-tabs.css">

    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-1.6.2.js"></script>
    <script src="~/Scripts/jquery.validate-1.8.1.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script>
        function startTime() {
            var today = new Date();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            document.getElementById('timer').innerHTML =
            h + ":" + m + ":" + s;
            var t = setTimeout(startTime, 500);
        }
        function checkTime(i) {
            if (i < 10) { i = "0" + i };  // add zero in front of numbers < 10
            return i;
        }
    </script>
    <style type="text/css">
        .body2 {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 24px;
            line-height: 1.42857143;
            color: #333;
            background-color: #fff;
            
        }

		
        .body3 {
            background-color: #f4f4f4;

        }
		
		.time {
			white-space: nowrap;
			width:12%;
		} 
		
		.event {
			width:75%;
		} 
		
		.venue {
			white-space: nowrap;
			width:13%;
		} 

        #wrapper {
            border: 1px #e4e4e4 solid;
            padding: 20px;
            border-radius: 4px;
            box-shadow: 0 0 6px #ccc;
            background-color: #fff;
            
        }


        .header {
            background-color: #FF8000;
            font-weight: bold;
            color: #FFF;
            font-size: 32px;
        }

        .header2 {
            background-color: #FF8000;
            font-weight: bold;
            color: #FFF;
            font-size: 22px;
        }

        .alt {
            /*background-color: #E4E9F5;*/
            background-color: #E6E6E6;
            color: #000;
        }

        .gridHead a:hover {
            text-decoration: underline;
        }

        .description {
            width: auto;
        }

        .select {
            background-color: #71857C;
        }

        .span12 {
            -moz-box-shadow: 0 0 2px black;
            -webkit-box-shadow: 0 0 2px black;
            box-shadow: 0 0 2px black;
        }

        tfoot {
            display: none;
        }
        img {
            float: right;
        }
    </style>
</head>
<body onload="startTime()">
    <header></header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
            @RenderBody()
        </section>
    </div>

    @RenderSection("Scripts", required: false)
    @*<footer class="footer navbar-fixed-bottom">
            <div class="col-md-12">
                <p class="text-muted">
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">ISS Hotline: 65-6516-2093</div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-4">© 2015 National University of Singapore. All Rights Reserved</div>
                    <div class="col-md-1">&nbsp;</div>
                    <div class="col-md-2">Page 1 of 1</div>
                    <div class="col-md-1">&nbsp;</div>
                </p>
            </div>
        </footer>*@
</body>

</html>
